/* BASE COLORS */
$color-1: #34E0F8;
$color-2: #2499CE;
$color-3: #05307B;
$color-4: #FBD54D;
$color-5: #FDE991;
$color-6: black;
$color-7: #FF4800;
$text: #fff;

$memory-text: $color-2;
$memory-text-errors: $color-7;
$memory-required: $color-2;
$memory-form-focus-border: $color-2;
$memory-page-bg: radial-gradient(circle, $color-1 0%, $color-2 50%, $color-3 100%);
$memory-page-text: $text;
$memory-menu-bg: $color-3;
$memory-menu-border: $color-1;
$memory-menu-text: $text;
$memory-footer-bg: $color-3;
$memory-footer-border: $color-1;
$memory-footer-text: $text;
$memory-button-bg: linear-gradient(0deg, $color-4 0%, $color-5 50%);;
$memory-button-border: $color-4;
$memory-button-bg-hover: linear-gradient(0deg, $color-5 0%, $color-4 90%);
$memory-button-border-hover: $color-5;
$memory-button-outline-warning-bg: $color-3;
$memory-button-outline-warning-bg-hover: $text;
$memory-card-header-bg: $color-3;
$memory-card-header-text: $text;
$memory-card-body-text: $color-6;
$memory-card-footer-bg: $color-3;
$memory-card-footer-text: $text;
$memory-rank-bg: radial-gradient(circle, $color-1 0%, $color-2 50%, $color-3 100%);
$memory-rank-text: $color-4;
$memory-rank-border: $color-4;
$memory-lobby-header-bg: $color-3;
$memory-lobby-header-text: $text;
$memory-lobby-text: $color-4;
$memory-modal-rules-bg: $color-3;
$memory-modal-rules-text: $text;
$memory-scrollbar-bg: $color-1;
$memory-scrollbar-bg-active: $color-3;
$memory-notify-modal-header-bg: $color-3;
$memory-notify-modal-header-text: $text;
